.section{
	width:500px;
	height:600px;
	margin:50px 50px;
	position:relative;
	border:1px solid #333;
	padding-top:10px;
}
.none{
	display:none;
}
.sle{
	float:left;
	color:#aaa;
	display:inline-block;
	margin-right:5px;
}
.sle p:before{
	content:'>';
}
.sleNone p:before{
	content:'';
}
.sleUl{
	position:absolute;
	top:100px;
	left:-40px;
}
	

.sleLi{
	position:absolute;
	top:-60px;
	left:50px;
	height:0px;
	font-size:1.6em;
}
.sleSpan{
	position:absolute;
	top:5px;
	left:5px;
	color:grey;
	cursor:pointer;
}
.slePsn{
	position:relative;
	top:-20px;
	left:0;
}
p{
	cursor:pointer;
}
li{
	height:10px;
	list-style:none;
}